p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.titre-nom-planet{
    color: #ffffff !important;
}

.container-info-planet{
    height: 13.5vh !important;
    background-color: rgb(3, 34, 76, 0.3) !important;
}

.plant{
    opacity: 1 !important;
    margin: auto !important;
}

.text-center{
    text-align: center !important;
}

.paragraphe-plant,
.paragraphe-atmos,
.paragraphe-espece{
    color: #ffffff !important;
}

.containerr{
    color: #ffffff !important;
    
}

.info-planet{
    margin-left: 50px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    font-size: 1em !important;
}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
    .titre-nom-planet{
        color: #ffffff !important;
    }
    
    .container-info-planet{
        height: 13.5vh !important;
        background-color: rgb(3, 34, 76, 0.3) !important;
        border-radius: 30px !important;
    }
    
    .plant{
        opacity: 1 !important;
        margin: auto !important;
    }
    
    .text-center{
        text-align: center !important;
    }
    
    .paragraphe-plant,
    .paragraphe-atmos,
    .paragraphe-espece{
        color: #ffffff !important;
    }
    
    .containerr{
        color: #ffffff !important;
        
        
    }
    
    .info-planet{
        margin-left: 50px !important;
    }
    .container-meteo-planet,
    .container-meteo-planet-2{
        display: none !important;
        border-radius: 4px;
    }
}

@media screen and (min-width: 992px) {
    .titre-nom-planet{
        color: #ffffff !important;
    }
    
    .container-info-planet{
        height: 13.5vh !important;
        background-color: rgb(3, 34, 76, 0.3) !important;
    }
    
    .plant{
        opacity: 1 !important;
        margin: auto !important;
    }
    
    .text-center{
        text-align: center !important;
    }
    
    .paragraphe-plant,
    .paragraphe-atmos,
    .paragraphe-espece{
        color: #ffffff !important;
    }
    
    .containerr{
        color: #ffffff !important;
    }
    
    .info-planet{
        margin-left: 50px !important;
    }
    .container-meteo-planet{
        color: #ffffff !important;
        height: 13.5vh !important;
        background-color: rgb(3, 34, 76, 0.3) !important;
        border-radius: 10px;
    }
    .container-meteo-planet-2{
        margin-right: 60px !important;
        height: 13.5vh !important;
        background-color: rgb(3, 34, 76, 0.3) !important;
        border-radius: 10px;
    }
}

@media screen and (max-width: 575.98px){
    .container-meteo-planet,
    .container-meteo-planet-2{
        display: none !important;
    }
    
}