


@media screen and (min-width: 576px) and (max-width: 991.98px) {

    .planeteTaille{
        height: 400px !important;
        
    }
    .position{
        padding-bottom: 245px !important;
    }
    
}

@media screen and (min-width: 992px) {

    .planeteTaille{
        width: 1046px !important;
        height: 605px !important;
    }
    .css-1fzpoyk {
        top: 50%;
        position: absolute !important;
        -moz-box-align: center !important;
        align-items: center !important;
        justify-content: center !important;
        -moz-box-pack: center !important;
        transform-origin: 50% 50% 0px !important;
        display: flex !important;
    }
}


@media screen and (max-width: 575.98px){
    .planeteTaille{
        height: 200px !important;
    }
    
    .position{
        padding-bottom: 250px !important;
    }
    


}

