.fleche-gauche{
    margin: 10px;
}

.filter-logo{
    width: 10px;
    padding: 5px;
}

.button-filter{
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    opacity: 0.6;
}