
   .bg {
    background-color: grey;
}

@media screen and (min-width: 1025px) {
    .desk-0 {display: none;}
     .desk-1{width:8.33%;}
     .desk-2{width:16.66%;}
     .desk-3{width:25%;}
     .desk-4{width:33.33%;}
     .desk-5{width:41.66%;}
     .desk-6{width:50%;}
     .desk-7{width:58.33%;}
     .desk-8{width:66.66%;}
     .desk-9{width:75%;}
     .desk-10{width:83.33%;}
     .desk-11{width:91.66%;}
     .desk-12{width:100%;} 
    
    } 
    
    @media screen and (min-width: 451px) and (max-width: 1024px){
      .tab-0 {display: none;}
      .tab-1{width:8.33%;}
      .tab-2{width:16.66%;}
      .tab-3{width:25%;}
      .tab-4{width:33.33%;}
      .tab-5{width:41.66%;}
      .tab-6{width:50%;}
      .tab-7{width:58.33%;}
      .tab-8{width:66.66%;}
      .tab-9{width:75%;}
      .tab-10{width:83.33%;}
      .tab-11{width:91.66%;}
      .tab-12{width:100%;}  
    
    }  
    
    
    @media screen and (max-width: 450px) {
      .mob-0 {display: none;}
      .mob-1{width:8.33%;}
      .mob-2{width:16.66%;}
      .mob-3{width:25%;}
      .mob-4{width:33.33%;}
      .mob-5{width:41.66%;}
      .mob-6{width:50%;}
      .mob-7{width:58.33%;}
      .mob-8{width:66.66%;}
      .mob-9{width:75%;}
      .mob-10{width:83.33%;}
      .mob-11{width:91.66%;}
      .mob-12{width:100%;}   
    
    
      .mars {
        width: 200px;
        height: 200px;
    }
    
 
    
    h1 {
        font-size: 10px; 
        color: white;
        padding-top: 2.5px;
        border: 1px solid none;
        border-radius:10px; 
        background-color:#ff6c00;
        width: 50%;
        height: 20px;
    }
    h2{
        color:white;
        font-size: 50px;
        border: 1px solid black;
    
    }
    h3{
        color: white;
        font-size: 50px;
        border: 1px solid black;
    }
    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .row {
        display: flex;
    }
    
    }